<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layouts/basic-layout">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Welcome</h1>
    <a href="/login" th:href="@{/login}">Sign In</a>
    <a href="/logout" th:href="@{/logout}">Sign Out</a>
    <form th:action="@{/logout}" action="/logout" method="post">
        <input type="submit" value="Logout"/>
    </form>
</div>
</body>
</html>